<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>YouTube Playlists Tracker App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    </head>
    <body>
        <header>
            <h1>YouTube Playlists Tracker App</h1>

            <div class="form-container">
                <form id="addPlaylistForm">
                    <div class="form-group">
                        <input type="text" id="game" name="game" placeholder="Enter game..." required />
                    </div>
                    <div class="form-group">
                        <input type="number" id="video_number" name="video_number" value="1" required />
                    </div>
                    <div class="form-group">
                        <input type="text" id="youtuber" name="youtuber" placeholder="Enter YouTuber..." required />
                    </div>
                    <div class="form-group">
                        <input type="url" id="link" name="link" placeholder="Enter link..." required />
                    </div>
                    <button id="submit-button" type="submit">Add Playlist</button>
                </form>
            </div>

            <div class="search-container">
                <input type="text" id="search" name="search" placeholder="Search playlists..." />
            </div>

            <div class="counter-container">
                <p><b>Total Playlists:</b> <span id="total-playlists"></span></p>
                <p><b>Total Games:</b> <span id="total-games"></span></p>
            </div>
        </header>

        <div id="playlists"></div>

        <div id="scrollToTop">To Top</div>

        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </body>
</html>
